*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.header {
    height: 3.5rem;
    background-color: aqua;
    display: flex;
    justify-content: space-between;

}

.header-sidedar {
    font-size: 1.5rem;
    width: 15%;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    color: rgb(206, 200, 200);
    background-color: rgb(39 44 48);

}

.header-search {
    border: none;
    cursor: pointer;
    height: 100%;
    width: 80%;

}

.header-search input {
    outline: none;
    background-color: rgb(73 78 84);
    padding-left: 0.8rem;
    width: 100%;
    height: 100%;

}

.hearder-signout {
    width: 5%;
}

.hearder-signout button {
    color: rgb(119, 125, 132);
    background-color: rgb(52 55 63);
    outline: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;

}