.mainpanel-header {
  justify-self: center;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: auto;
}

.header-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
}

.btn {
  color: rgb(142, 142, 170);
  background-color: #fff;
  border: 0px solid rgb(142, 142, 170);
  padding: 0.5rem;
  border-radius: 3px;
  outline: 1px solid rgb(142, 142, 170);
}
.share-btn {
  margin-right: -0.1rem;
  border-radius: 3px 0 0 3px;
}
.export-btn {
  margin-left: -0.1rem;
  border-radius: 0 3px 3px 0;
}
.select-btn {
  margin-left: 0.8rem;
}
.select-btn option::before {
  content: '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>';
}

.line {
  width: 95%;
}
