.table th {
  width: 8rem;
}

table {
  border-top: 1px solid #ccc;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
td,
th {
  border: none;
  padding: 0.5rem;
}
tr {
  border-top: 1px solid #ccc;
}
