@import url(./_header.css);
@import url(./_side-bar.css);
@import url(./_reset.css);
@import url(./_main_panel.css);
@import url(./_tableCss.css);

.contaner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}
